/* Basic */


	body, input, select, span, textarea {
		background: #00aeef;
		color: #FFFFFF;
		font-family: 'OpenSans', sans-serif;
		font-size: 18pt;
		font-weight: 300;
		line-height: 1.75em;



	}